* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f0f14;
  color: #fff;
  line-height: 1.6;
}

/* NAV */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  position: sticky;
  top: 0;
  background: rgba(15,15,20,0.95);
  backdrop-filter: blur(10px);
  z-index: 9999;  
}


.navbar a {
  color: #aaa;
  margin-left: 20px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ff014f;
}

.logo {
  color: #ff014f;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 10%;
}

.hero-text h1 span {
  color: #ff014f;
}

.hero-text h2 {
  margin: 10px 0;
  color: #ccc;
}

.hero-img img {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(255,1,79,0.4);
}

/* SECTION */
.section {
  padding: 80px 10%;
}

.section h2 {
  margin-bottom: 20px;
  color: #ff014f;
}

/* SKILLS */
.skills span {
  display: inline-block;
  background: #1c1c24;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 20px;
}

/* PROJECTS */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.project-card {
  background: #1c1c24;
  padding: 20px;
  border-radius: 20px;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
}

.preview {
  overflow: hidden;
  height: 180px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.preview iframe {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  pointer-events: none;
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  color: #ff014f;
  text-decoration: none;
}

/* CONTACT */
.contact a {
  color: #ff014f;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  color: #888;
}
